html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  min-width: 1366px;
  overflow: auto;
  overflow: hidden;
  background-color: #92cbff;
  height: 100%;
}

.container .sun {
  width: 16.4vw;
  height: 14.4vw;
  background-color: #ff6946;
  /* clip-path: ellipse(7.2vw 6.6vw at 50% 50%); */
  border-radius: 50%;
  position: relative;
  transform: rotate(-20deg);
  margin-left: 8vw;
  margin-top: 3.4vw;
  filter: drop-shadow(0 0 0.6vw red);
}

.sun-wave {
    width: 22vw;
    height: 22vw;
    position: absolute;
    left: 5.6vw;
    top: -0.3vw;
}

.eyebrow {
  /* width: 5vw;
  height: 2.5vw;
  border-top: 1vw solid #444;
  border-radius: 5vw;
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
  position: absolute; */
  position: absolute;
}

.eyebrow_l {
  left: 2vw;
  top: 4.6vw;
}
.eyebrow_r {
  right: 2vw;
  top: 4.6vw;
}

.flush {
  width: 4vw;
  height: 1.8vw;
  border-radius: 50%/50%;
  box-shadow: 0 1.6vw 0.8vw 0.6vw #fc1d14 inset;
  position: absolute;
}
.flush_l {
  left: 1vw;
  top: 6.6vw;
}
.flush_r {
  right: 1vw;
  top: 6.6vw;
}

.mouth {
  bottom: 3.6vw;
  left: 2.6vw;
  position: absolute;
}
