<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Green Leaf with Border</title>
    <style>
      .leaf-container {
        width: 100px;
        height: 200px;
        position: relative;
      }

      .leaf-svg {
        width: 100%;
        height: 100%;
      }

      .leaf-1 {
        transform: rotate(0deg);
        width: 50px;
        height: 100px;
      }
    </style>
  </head>
  <body>
    <div class="leaf-container leaf-1" >
      <svg viewBox="0 50 100 300" class="leaf-svg">
        <path
          d="M50,300 C60,290 70,280 80,260 C90,240 80,220 70,200 C60,180 50,160 40,140 C30,120 20,140 10,160 C0,180 10,200 20,220 C30,240 40,260 50,280 C60,300 50,300 50,300"
          fill="#66ff33"
        />
      </svg>
    </div>

    <div class="leaf-container">
      <svg viewBox="0 50 100 300" class="leaf-svg">
        <path
          d="M50,300 C40,290 30,280 20,260 C10,240 20,220 30,200 C40,180 50,160 60,140 C70,120 80,140 90,160 C100,180 90,200 80,220 C70,240 60,260 50,280 C40,300 50,300 50,300"
          fill="#66ff33"
        />
      </svg>
    </div>
  </body>
</html>
